<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202888499185-0gb3rgla3iog2khir32fumso874e9o50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>googleusercontent.com.apps.202888499185-0gb3rgla3iog2khir32fumso874e9o50</string>
	<key>API_KEY</key>
	<string>AIzaSyBw3rlf9XPYonNuo7ZpABNq2fjcfTPvWg4</string>
	<key>GCM_SENDER_ID</key>
	<string>202888499185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wham</string>
	<key>PROJECT_ID</key>
	<string>wham-ad61b</string>
	<key>STORAGE_BUCKET</key>
	<string>wham-ad61b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:202888499185:ios:07bf0d4bca473e65837e50</string>
	<key>SERVER_CLIENT_ID</key>
	<string>202888499185-m6oem5t2kod3odtfptd5ogo4jdemushh.apps.googleusercontent.com</string>
</dict>
</plist>
